* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html {
   font-size: 10px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
   text-decoration: none;
}
.container {
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
/* Hero Section */
#hero {
   background-image: url(/image/wish\ you\ were\ here.jpg);
   background-size: cover;
   background-position: top center;
   position: relative;
   z-index: 1;
}
#hero::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #fff;
   opacity: 0.6;
   z-index: -1;
}
#hero h1{
   display: block;
   width: fit-content;
   font-size: 4rem;
   color: transparent;
   position: relative;
   animation: text_revel .5s ease forwards;
}
#hero h1:nth-child(1){
   animation-delay: 1.5s;
}
#hero h1:nth-child(2){
   animation-delay: 2.5s;
}
#hero h1:nth-child(3){
   animation-delay: 3.5s;
}
#hero h1 span{
   position: absolute;
   top: 0;
   left: 0;
   background-color: crimson;
   width: 0;
   height: 100%;
   animation: text_box_ani 1s ease;
}
#hero h1:nth-child(1) span{
   animation-delay: 1s;
}
#hero h1:nth-child(2) span{
   animation-delay: 2s;
}
#hero h1:nth-child(3) span{
   animation-delay: 3s;
}
#hero .cta{
   display: inline-block;
   padding: 10px 30px;
   color: crimson;
   background-color: transparent;
   border: 2px solid crimson;
   font-size: 2rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   margin-top: 30px;
   transition: 0.8s ease;
   transition-property: color, background-color;
   opacity: 0;
   animation: button_revel 1s ease forwards;
   animation-delay: 3.7s;
}
#hero .cta:hover{
   color: whitesmoke;
   background-color: crimson;
}
/* End of Hero Section */


/*keyframes*/
@keyframes text_box_ani {
50%{
   width: 100%;
   left: 0;
}
100%{
   width: 0;
   left: 100%;
}
}
@keyframes text_revel {
   100%{
      color: blueviolet;
   }
}
@keyframes button_revel {
   100%{
      opacity: 1;
   }
}
/*end of keyframes*/