@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: white;
  margin: 0;
}

/* hero section */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* header design */

#navbar {
  background-color: white;
  width: 100vw;
  height: 7.2vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.hamburger {
  position: relative;
  right: 8vw;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar i {
  color: #28352f;
  font-size: 18px;
  transition: all 0.1s;
}

#navbar i:hover {
  color: rgb(57, 85, 178);
  font-size: 28px;
  transition: all 0.1s;
}

/* banner design */

.banner {
  width: 100vw;
  height: 653.32px;
  margin-top: 7.2vh;
  background-image: url("./image/header-illsutration-mobile@2x.png");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 327px;
  height: 211px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
}

.title h1 span:not(:last-child) {
  display: block;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.title h1:last-child {
  color: #36b37e;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.info {
  width: 327px;
  height: 164px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 15px;
}

/* social media icon */

.social ul {
  display: flex;
  justify-content: center;
}

.social ul li {
  list-style-type: none;
}

.twitter {
  width: 19.58px;
  height: 19.58px;
  margin: 9.51px;
}

.linkedin {
  width: 20px;
  height: 19.62px;
  margin: 9.51px;
}

.medium {
  width: 20px;
  height: 15.69px;
  margin: 9.51px;
  margin-top: 13.51px;
}

.github {
  width: 17.99px;
  height: 19.62px;
  margin: 9.51px;
}

.angellist {
  width: 14.17px;
  height: 19.62px;
  margin: 9.51px;
}

/* drop-down button */

.drop-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.chevron {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
