@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

/* hero section */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* header design */

#navbar {
  background-color: white;
  width: 100vw;
  height: 7.2vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.hamburger {
  position: relative;
  right: 8vw;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar i {
  color: #28352f;
  font-size: 18px;
  transition: all 0.1s;
}

#navbar i:hover {
  color: rgb(57, 85, 178);
  font-size: 28px;
  transition: all 0.1s;
}

/* banner design */

.banner {
  width: 100vw;
  height: 653.32px;
  margin-top: 7.2vh;
  background-image: url("./image/header-illsutration-mobile@2x.png");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 327px;
  height: 211px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
}

.title h1 span:not(:last-child) {
  display: block;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.title h1:last-child {
  color: #36b37e;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.info {
  width: 327px;
  height: 164px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 15px;
}

/* social media icon */

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social ul {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.social ul li {
  list-style-type: none;
}

.twitter {
  width: 21.58px;
  height: 21.58px;
  margin: 9.51px;
}

.linkedin {
  width: 22px;
  height: 21.62px;
  margin: 9.51px;
}

.medium {
  width: 22px;
  height: 17.69px;
  margin: 9.51px;
  margin-top: 13.51px;
}

.github {
  width: 19.99px;
  height: 21.62px;
  margin: 9.51px;
  margin-top: 10.51px;
}

.angellist {
  width: 16.17px;
  height: 21.62px;
  margin: 9.51px;
  margin-top: 10.51px;
}

/* drop-down button */

.drop-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.chevron {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* work section title */

.showcase-title {
  width: 100vw;
  height: 125px;
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-box {
  text-align: center;
  width: 327px;
}

.showcase-title h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.separator {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
}

#worksection {
  margin-top: 62px;
  display: grid;
  grid-template-columns: auto;
  row-gap: 24px;
  justify-content: center;
}

/* word section */

/* card design */

.card {
  width: 327px;
  height: 474px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 222px;
  background-color: #fff;
  border-radius: 8px;
}

.card-info h3 {
  width: 295px;
  height: 57px;
  font-family: 'Inter', sans-serif;
  color: #3a4a42;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.card-info ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.card-info ul li {
  list-style-type: none;
  padding: 8px 12px;
  background-color: #ebf0ee;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  border-radius: 3px;
}

.card-info .btnbar {
  width: 305px;
  height: 69px;
}

.card-info .btnbar a {
  text-decoration: none;
  display: block;
  width: 122px;
  height: 48px;
  text-align: center;
  background-color: #36b37f;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border-radius: 4px;
  margin: 13px 92px 8px;
}

.card-info .btnbar a:active {
  background-color: #008552;
}

/* About me section */

#aboutme {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.aboutwrapper {
  width: 375px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutbox {
  margin-top: 64px;
  width: 351px;
  height: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 59px;
}

.about-title {
  width: 351px;
  height: 48px;
  text-align: center;
}

.about-title h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.descrip {
  width: 351px;
  height: 194px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

#aboutme .resumebtn a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
}

#aboutme .resumebtn a:active {
  background-color: #008552;
}

.top-img {
  position: absolute;
  right: 0;
  top: 5px;
}

.bottom-img {
  position: absolute;
  left: 0;
  top: 340px;
}

.aboutwrapper .skill-card {
  width: 327px;
  height: 316px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 24px;
}

.icon-box {
  width: 327px;
  height: 128px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box .icon {
  background-color: #fff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagbox {
  width: 327px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tagbox h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-bottom: 24px;
}

.tagbox ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tagbox ul li {
  list-style-type: none;
  margin: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
}
